{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "project": [
      "./tsconfig.json",
      "./src/tsconfig.json"
    ]
  },
  "plugins": ["react", "@typescript-eslint"],
  "extends": ["airbnb-base", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "indent": "off",
    "no-unused-vars": "off",
    "object-curly-newline": ["error", { "consistent": true }],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true }],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/no-unused-vars": ["error", { "ignoreRestSiblings": true }]
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "directory": "./tsconfig.json"
      }
    }
  },
  "overrides": [
    {
      "files": ["*.test.ts"],
      "env": {
        "browser": true,
        "jest": true
      },
      "globals": {
        "page": true,
        "browser": true,
        "context": true
      }
    }
  ]
}