{
  "env": {
    "browser": true,
    "node": false
  },
  "globals": {
    "process": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": false, "optionalDependencies": false, "peerDependencies": false}]
  }
}